body {
    background-color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
    padding: 1em 5em;
}

.navigation-form {
    display: inline-block;
}

.navigation-form input[type=submit], .navigation-button {
    padding: 1em;
    border-radius: 0.25em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.catalog-container, .cart-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
}

.catalog-item, .cart-item {
    display: inline-block;
}

.catalog-item-image, .cart-item-image {
    max-width: 10em;
}

.catalog-item-name, .catalog-item-name {
    font-weight: bold;
}
