body {
    background-color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
    padding: 1em 5em;
}

.navigation-form {
    display: inline-block;
}

.navigation-form input[type=submit] {
    padding: 1em;
    border-radius: 0.25em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
