<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Authentication Portal</title>
</head>
<body>
<h1>Storefront Authentication Portal</h1>
<p>You were likely re-directed here because you are not currently logged in.</p>
<button class="navigation-button" id="loginButton">Login</button>
<button class="navigation-button" id="registerButton">Register</button>
<br>
<a href="/">
    <button class="navigation-button">Return to Homepage</button>
</a>
<script src="/js/auth.js"></script>
</body>
</html>
