<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Catalog</title>
</head>
<body>
    <h1>Catalog</h1>
    <div class="catalog-container">
        <% for(let i = 0; i < catalog.length; i++) { %>
            <div class="catalog-item">
                <img class="catalog-item-image" src="<%= catalog[i].image %>">
                <p class="catalog-item-name"><%= catalog[i].name %></p>
                <p class="catalog-item-price"><%= catalog[i].price %></p>
                <p class="catalog-item-description"><%= catalog[i].description %></p>
            </div>
        <% } %>
    </div>
</body>
</html>
