<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Debug Panel</title>
</head>
<body>
    <h1>Debug Panel</h1>
    <p>The following buttons are for development purposes only. Use them at your own discretion.</p>
    <button id="endSessionDebugButton" class="navigation-button">End Session</button>
    <button id="viewCartDebugButton" class="navigation-button">View Cart Contents</button>
    <button id="updateCartItemQuantityButton" class="navigation-button">Update Cart Item Quantity</button>
    <br>
    <a href="/">Return to Homepage</a>
    <script src="/js/debug.js"></script>
</body>
</html>
