<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Generate Data</title>
</head>
<body>
    <h1>Error</h1>
    <p>I do apologize: there was an error! Please try again later.</p>
    <h2>Error Message</h2>
    <p><code><%= error %></code></p>
    <a href="/">
        <button class="navigation-button">Return to Homepage</button>
    </a>
</body>
</html>
