<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Generate Data</title>
</head>
<body>
    <h1>Data Generated Successfully!</h1>
    <a href="/">Return to Homepage</a>
</body>
</html>
