<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Storefront &ndash; Homepage</title>
</head>
<body>
    <h1>Welcome to the Store</h1>
    <p>Our store features a randomly generated assortment of miscellaneous goods. Click on the buttons below to navigate throughout the application.</p>
    <form action="/catalog" method="get" class="navigation-form">
        <input type="submit" value="Show Shop Catalog">
    </form>
    <form action="/cart" method="get" class="navigation-form">
        <input type="submit" value="View Shopping Cart">
    </form>
    <form action="/generate-data" method="post" class="navigation-form">
        <input type="submit" value="Generate Fake Data">
    </form>
    <form action="/debug" method="get" class="navigation-form">
        <input type="submit" value="View Debug Portal">
    </form>
</body>
</html>
